<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/admin-assets/img/favicon.png" rel="icon">
  <link href="/admin-assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/admin-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin-assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/admin-assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/admin-assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/admin-assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/admin-assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/admin-assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/admin-assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-//admin-bootstrap-//admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
  
<main id="main" class="justify-content-center" >
<section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add New Product</h5>

              <!-- General Form Elements -->
              <form action="/admin/add-products" method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Product Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="Pname">
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Brand name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="PBname">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Price</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="Pprice">
                  </div>
                </div>
                 <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label" style="font: bolder; "><b>Stock</b></label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="stock">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Size</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" name="Psize">
                      <option selected>Select the size</option>
                      <option value="1">5</option>
                      <option value="2">6</option>
                      <option value="3">7</option>
                      <option value="1">8</option>
                      <option value="2">9</option>
                      <option value="3">10</option>
                      <option value="2">11</option>
                      <option value="3">12</option>
                    </select>
                  </div>
                </div>
                
               

           
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Category</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" name="pcategory">
                      <option selected>Select the category</option>
                          {{#each categories}}
                      <option >{{this.Cname}}</option>
                       {{/each}}

                      </option>
                    </select>
                  </div>
                </div>
               
                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label" >Discription</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" style="height: 100px" name="Pdis"></textarea>
                  </div>
                </div>
                 <div class="row mb-3">
                  <label for="inputColor" class="col-sm-2 col-form-label">Color Picker</label>
                  <div class="col-sm-10">
                    <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#4154f1" title="Choose your color" name="pcolor">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputImage" class="col-sm-2 col-form-label">File Upload</label>
                  <div class="col-sm-10">
                    {{!-- <input class="form-control" type="file" id="image" name="image" multiple > --}}
                    <div class="col-sm-10">
                                    <div class="col-sm-10 mb-4" style="display: none;" id="showImg">
                                        <img src="" style="height: auto; width:100px;" id="imgId">
                                        <img src="" style="height: auto; width:100px;" id="imgId2">
                                        <img src="" style="height: auto; width:100px;" id="imgId3">
                                        <img src="" style="height: auto; width:100px;" id="imgId4">

                                    </div>
                                    <input type="file" accept="image/gif, image/jpeg, image/png" name="image"
                                        class="form-control" id="formFile" onchange="displayImg(event)"
                                        accept="image/gif, image/jpeg, image/png" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" multiple />
                                </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Submit Button</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

        
      </div>
    </section>
   </main> 

   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row" id="test">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function displayImg(event) {
        document.getElementById('showImg').style.display = 'block';
        document.getElementById('imgId').src = URL.createObjectURL(event.target.files[0])
        document.getElementById('imgId2').src = URL.createObjectURL(event.target.files[1])
        document.getElementById('imgId3').src = URL.createObjectURL(event.target.files[2])
        document.getElementById('imgId4').src = URL.createObjectURL(event.target.files[3])


    }
</script>

<!-- Vendor JS Files -->
  <script src="/admin-assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/admin-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/admin-assets/vendor/chart.js/chart.min.js"></script>
  <script src="/admin-assets/vendor/echarts/echarts.min.js"></script>
  <script src="/admin-assets/vendor/quill/quill.min.js"></script>
  <script src="/admin-assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin-assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/admin-assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/admin-assets/js/main.js"></script>

</body>

</html>